docker/nc_config/
docker/nextcloud_config/
docker/mysql/
docker/document_data/
docker/document_log/
docker/prometheus-data/
docker/signal-cli/
docker/grafana-data/
docker/caddy_data/
docker/caddy_config/
.env
atMessages/
tmp.*
letsencrypt/
docker/nginx_data
strato-certbot/
kubernetes/cert/
video-viewer/data/