# Environment configuration for Wishlist API

# Data folder where the wishlist.yaml file will be stored
WISHLIST_DATA_FOLDER=./data

# Images folder where uploaded images will be stored
WISHLIST_IMAGES_FOLDER=./images